aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
distlib==0.3.7
filelock==3.12.4
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
openai==0.28.0
platformdirs==3.10.0
requests==2.31.0
six==1.16.0
slack-bolt==1.18.0
slack-sdk==3.22.0
slackbot==1.0.5
slacker==0.14.0
tqdm==4.66.1
urllib3==2.0.4
virtualenv==20.24.5
websocket-client==1.6.0
yarl==1.9.2
